body
    font-size: 18px
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background: $white
    text-align: center
    margin: 0
    color: $black
    background: $gray-white
       
.b2c-header
    display: flex
    flex-direction: row
    justify-content: space-between
    height: 50px
    border-bottom: 1px solid $gray-light
    background: $gray-white
    z-index: 2
    position: fixed
    top: 0
    left: 0
    right: 0
    

.b2c-logo
    // display: none
    align-self: flex-start
    margin: 0 .5rem 0 0
    line-height: 1
    color: $blue
    font-size: .5rem            
    font-variant: small-caps
    span
        font-size: 2rem
        display: block


.b2c-toggle-cart
    height: 100%
    border: 0
    margin: 0
    padding: 0
    outline: none
    line-height: normal    
    box-shadow: none transparent inset
    background-color: $green
    font-size: 1rem
    color: $white
    padding: .5rem 1rem
    cursor: pointer
    .b2c-toggle-cart-amount
        font-size: 14px

.b2c-search
    padding: .5rem    
    // width: 100% 
    height: 100%  
    form
        position: relative
        input 
            display: block
            margin: 0
            outline: none
            line-height: normal
            border: 1px solid $gray-light
            box-shadow: none transparent inset 
            background-color: transparent 
            font-size: 1rem
            padding: .3rem 2rem .3rem .3rem
            border-radius: .3rem
            width: 100%
            color: $black
        button[type="submit"]
            position: absolute
            top: 0
            right: 0
            bottom: 0
            border: 0
            border-left: 1px solid $gray-light
            outline: none
            line-height: normal
            box-shadow: none transparent inset 
            background-color: transparent 
            display: block
            cursor: pointer
            font-size: 1rem
            color: $gray-medium
            
.b2c-content
    margin: 50px 0
    overflow: hidden
.b2c-controls
    height: 50px
    display: flex
    align-content: center
    justify-content: center
    border-top: 1px solid $gray-light
    background: $gray-white
    z-index: 2
    position: fixed
    bottom: 0
    left: 0
    right: 0
    

.b2c-pager
    color: $gray-medium
    font-size: 1rem
    display: flex
    flex-direction: row
    align-items: center
    button
        bottom: 0
        border: 0            
        outline: none
        line-height: normal
        box-shadow: none transparent inset 
        background-color: transparent 
        cursor: pointer
        color: $gray-medium
        vertical-align: middle
        margin: 0 .5rem
.b2c-limit
    display: flex
    align-items: center
    margin: 0 1rem
    select
        margin: 0
        outline: none
        line-height: normal
        border: 1px solid $gray-light
        box-shadow: none transparent inset 
        background-color: transparent 
        font-size: 1rem
        padding: .3rem
        border-radius: .3rem            
        color: $gray-medium
        vertical-align: middle


.b2c-list-product
    padding: 1rem    
    display: grid    
    grid-template-columns: repeat(auto-fill, 250px)
    grid-gap: 1rem
    justify-content: center
    grid-auto-rows: 1fr  
    margin: 0 auto 

    
    .b2c-item
        border: 1px solid $gray-light
        margin: .5rem
        padding: 1.5rem 1rem 1rem
        background: $white
        position: relative
        
        .b2c-item-image
            margin-bottom: 1rem
            span
                font-size: 6rem
        .b2c-item-type
            color: $gray-dark
            margin-bottom: 1rem

.b2c-product-total-value
    text-align: right
    margin-bottom: 3.5rem
    .value
        font-size: 2rem
        line-height: 1
        margin-left: .2rem
.b2c-product-buttons
    overflow: hidden
    position: absolute
    bottom: 1rem
    left: 1rem
    right: 1rem
    
    .b2c-product-amount-buttons
        float: left
        button
            margin: 0
            outline: none
            line-height: normal
            border: 1px solid $gray-light
            box-shadow: none transparent inset
            background-color: transparent
            font-size: 1rem
            padding: .5rem
            border-radius: .3rem
            color: $gray-dark
            vertical-align: middle
            cursor: pointer
        .b2c-product-amount
            margin: 0 .3rem            

    .b2c-product-add-button
        float: right
        button
            margin: 0
            outline: none
            line-height: normal
            border: 1px solid $main
            box-shadow: none transparent inset
            background-color: $main
            font-size: 1rem
            padding: .5rem
            border-radius: .3rem
            color: $white
            vertical-align: middle
            cursor: pointer
            transition: .3s
            &:hover
                color: $main
                background-color: transparent